.hero-background {
  background-image: url("../../../assets/images/iphone-14-pro-spaceblack-202404_AV1_GEO_US.jpeg"); /* Replace with your image path */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  height: 100vh;
}

.hero-background::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.hero-background .container {
  position: relative;
  z-index: 2;
}
